<div class="cta-banner">

  <div class="cta-header">Get the latest updates to your inbox</div>
  <div id="mc_signup">
      <a href="https://landing.bitpay.com/blog-subscription.html" target="_blank" class="cta-button">Subscribe to Blog Updates</a>
  </div>
</div>
