<div class="footer">
  <div class="inner">

    <div class="row">

      <div class="column large-2 padding-left-none">
        <div class="footer-heading">Platform</div>
        <ul>
          <li><a href="https://bitpay.com/tour">Tour</a></li>
          <li><a href="https://bitpay.com/features">Features</a></li>
          <li><a href="https://bitpay.com/integrations">Integrations</a></li>
          <li><a href="https://bitpay.com/pricing">Pricing</a></li>
        </ul>
      </div>

      <div class="column large-2 padding-left-none">
        <div class="footer-heading">Resources</div>
        <ul>
          <li><a href="https://support.bitpay.com/hc/en-us">Help & Support</a></li>
          <li><a href="https://bitpay.com/docs">Documentation</a></li>
          <li><a href="https://bitpay.com/bitcoin-exchange-rates">Exchange Rates</a></li>
          <li><a href="https://bitpay.com/api">API & SDKS</a></li>
        </ul>
      </div>

      <div class="column large-2 padding-left-none">
        <div class="footer-heading">Open Source</div>
        <ul>
          <li><a href="https://bitcore.io/">Bitcore</a></li>
          <li><a href="https://copay.io/">Copay</a></li>
          <li><a href="https://labs.bitpay.com/">Forums</a></li>
          <li><a href="https://github.com/bitpay">Github</a></li>
        </ul>
      </div>

      <div class="column large-2 padding-left-none">
        <div class="footer-heading">Documentation</div>
        <ul>
          <li><a href="https://bitpay.com/docs">Getting Started</a></li>
          <li><a href="https://bitpay.com/docs/ecommerce">Selling Online</a></li>
          <li><a href="https://bitpay.com/docs/retail">Selling in Store</a></li>
          <li><a href="https://bitpay.com/docs/settlement">Settlement</a></li>
        </ul>
      </div>

      <div class="column large-4 padding-left-none">
        <div class="footer-heading">Company</div>
        <ul>
          <li><a href="https://bitpay.com/about">About</a></li>
          <li><a href="https://bitpay.com/about/team">Team</a></li>
          <li><a href="https://bitpay.com/about/press">Press</a></li>
        </ul>
      </div>


    </div>

  <div class="row">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
  </div>
  </div>

</div>
