<div class="sidebar-item sidebar-social">
  <div class="sidebar-title">Social</div>
  <ul>
    <li><a target="blank" href="{{@blog.url}}/rss"><img src="/assets/images/social-rss.svg"></a></li>
    <li><a target="blank" href="http://www.facebook.com/BitPayOfficial"><img src="/assets/images/social-facebook.svg"></a></li>
    <li><a target="blank" href="http://www.github.com/bitpay"><img src="/assets/images/social-github.svg"></a></li>
    <li><a target="blank" href="http://www.linkedin.com/company/bitpay-inc-"><img src="/assets/images/social-linkedin.svg"></a></li>
    <li><a target="blank" href="http://www.twitter.com/bitpay"><img src="/assets/images/social-twitter.svg"></a></li>
  </ul>
</div>

<div class="sidebar-item sidebar-categories">
  <div class="sidebar-title">Categories</div>
  <ul>
    <a href="/tag/engineering"><li>Engineering</li></a>
    <a href="/tag/events"><li>Events</li></a>
    <a href="/tag/merchants"><li>Merchants</li></a>
    <a href="/tag/press"><li>Press</li></a>
    <a href="/tag/product"><li>Product</li></a>
    <a href="/tag/team"><li>Team</li></a>
  </ul>
</div>

<div class="sidebar-item sidebar-about ">
  <div class="sidebar-title">About</div>
  <p>An open, staff-driven window into exciting developments, upcoming opportunities, and lessons learned in developing enterprise-grade infrastructure for bitcoin.</p>
</div>
