//
// Layout
// --------------------------------------------------
body {
  background-color: #F7F8F9;
}


.site-wrapper{
  max-width: 1450px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
}


.inner {
  max-width: 1000px;
}

.pagination {
  margin: 2em 0em;
  a {
      border-radius: 5em;
    }

}
