//
// Typography
// --------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700);

body {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, h6, p {
  font-family: 'Karla', sans-serif;
  color: #575757;
}


pre {
  background: #26292C!important;
  // background-image: -webkit-linear-gradient(269deg, #1b377d 0%, #1d3e92 98%)!important;
  // background-image: linear-gradient(-179deg, #1b377d 0%, #1d3e92 98%)!important;
}

a {
  color: #4C6EC6;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #375092!important;
  }
}
