//
// Typography
// --------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700);

body {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, h6, p {
  font-family: 'Karla', sans-serif;
  color: #575757;
}


pre {
  background: #26292C!important;
}

a {
  color: #4C6EC6;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #375092!important;
  }
}



// Header Typography
.page-title {
  font-family: Karla-Regular;
  line-height: 28px;
  margin-bottom: .25em;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff !important;
  font-weight: 700;
  opacity: 0.90;
  line-height: 1em;
}

.page-subtitle {
  opacity: 0.75;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 20px;
  margin: 1.5em 0;
}
