//
// Utiltiies
// --------------------------------------------------

.border-left {
  border-left: 1px solid #f2f2f2;
}

.padding-left-none {
  padding-left: 0;
}


.post-tag {
  display: inline-block;
  border: 1px solid #AEC5FF;
  background-color: #F2F6FF;
  border-radius: 42px;
  padding: 0px 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #546FB4;
  margin-left: 1em;
  a {
    line-height: 28px;
    letter-spacing: 1px;
    color: #546FB4;
    margin-left: 0;
    font-size: 0.5em!important;
  }
  &:hover {
    border: 1px solid #AEC5FF;
    text-decoration: none;
  }
}


.cta-banner {
  background-image: linear-gradient(-1deg, #F6F6F7 0%, #FEFEFE 38%, #FFFFFF 97%);
  text-align: center;
  padding: 4em 0;
  border-top: 1px solid #E9E9E9;
  .cta-header {

  }
  .cta-button {

  }


}
