//
// Header: CSS changes for navigation menu
// --------------------------------------------------

// Defines height of main header
.main-header {
  margin-bottom: 0;
  height: 42vh;
}

//overlay override
.main-nav.overlay {
  background: none;
}

// If there is no cover image
.no-cover.main-header {
  @extend .bp-background-gradient;
  min-height: 0;
  max-height: 2000px;
  height: 20%;
  padding: 0;
}

// Take away padding left so aligns with logo
.content {
  padding-left: 0!important;
  @media (max-width: 501px) {
    padding-left: 0.9375em!important;
  }
}
