//
// Posts Page
// --------------------------------------------------
.post {
  .main-nav.overlay {
    position: initial;
  }
}

.post-author {
  .author-image {
    position: initial;
    margin: 1em auto;
  }
  .author-name {
    text-align: center;
    a {
      text-decoration: none;
      font-size: 1.3em;
      letter-spacing: -1px;
    }
  }
  .author-description {
    font-size: 0.9em;
    color: #A4A4A4;
    line-height: 25px;
  }
}


.post-content {
  .post-title {
    font-size: 2em;
  }
  .post-meta {
    margin-top: 2em;
  }

}
