//
// Posts Page
// --------------------------------------------------

.post {
  margin: auto;
  .main-nav.overlay {
    position: initial;
  }
}

.post-author {
  .author-image {
    position: initial;
    margin: 1em auto;
    margin-top: 0;
    width: 125px;
    height: 125px;
  }
  .author-name {
    text-align: center;
    a {
      text-decoration: none;
      font-size: 1.3em;
      letter-spacing: -1px;
    }
  }
  .author-description {
    font-size: 0.9em;
    color: #A4A4A4;
    line-height: 25px;
  }
}


.post-content {
  img {
    width: 100%;
  }
  .post-header {
    margin-top: 0;
  }
  .post-title {
    font-size: 2em;
    line-height: 1.3;
  }
  .post-meta {
    margin-top: 1.25em;
  }
}
