.sidebar-item {
  margin-bottom: 2em;
}

.sidebar-title {
  font-family: Karla-Bold;
  font-size: 14px;
  color: #8A8A8A;
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 1em;
}



.sidebar-categories {
  a {
    text-decoration: none;
    color: #546FB4;
  }
  ul {
    padding-left: 0;
  }
  li {
    margin: 0em 0;
    list-style-type: none;
  }
}


.sidebar-about {
  p {
  font-family: Karla-Regular;
  font-size: 15px;
  color: rgba(121,121,121,0.90);
  line-height: 28.5px;
  }
}
